[Desktop Entry]
Name=Network

X-KDE-PluginInfo-Name=Network
X-KDE-PluginInfo-Author=Ionut Colceriu
X-KDE-PluginInfo-Email=contact@ghinda.net
X-KDE-PluginInfo-License=LGPLv3
