[Desktop Entry]
Name=Symbiosis

X-KDE-PluginInfo-Name=Symbiosis
X-KDE-PluginInfo-Author=Ionut Colceriu
X-KDE-PluginInfo-Email=contact@ghinda.net
X-KDE-PluginInfo-License=LGPLv3
